@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

nav {
    margin-bottom: 90px;
}
.carre {
    height: 100px;
    width: 100px;
    background-color: red;
}
.NuxtLink {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}
.pointActive::after {
    content:" ";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(249, 231, 132);
    border-radius: 50%;
    position:relative;
    top: 80px;
    left: -50%;
    opacity: 0;
    transition: ease-out 0.3s;
}
.active::after {
    content:" ";
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: rgb(249, 231, 132);
    border-radius: 50%;
    position:relative;
    left: -50%;
    top: 25px;
    opacity: 1;
    transition: ease-out 0.3s;
}
.active {
    color: rgb(249, 231, 132);
    background-color: #7f5539;
    border-radius: 50%;
}
.boutonCta {
    background-color: rgb(249, 231, 132);
    color: rgb(100, 69, 54);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    transition: ease-out 0.3s;
}

.pointActive:hover::after {
    top: 25px;
    opacity: 1;
}
.pointActive {
    position: absolute;
    transition: ease-out 0.3s;
    padding: 10px 0 10px 10px;
}
.pointActive:hover {
    color: rgb(249, 231, 132);
}
.boutonCta:hover {
    scale: 0.9;
    color: rgb(100, 69, 54);
}
.partieGaucheNav {
    display: flex;
    gap: 100%;
}
.containerHeaderHomepage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.containerGaucheHeaderHP {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 30%;
}
.imageHeader {
    border-radius: 100vh;
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: rgb(249, 231, 132) solid 50px;
}
.headerHP {
    font-size: 10vh;
}
.containerDroitHP {
    position: relative;
}
.popUpImage {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: larger;
    border-radius: 10px;
    top: 50%;
    left: -2vw;
    position: absolute;
}
.containerProjets {
    margin-top: 5vh;
}
.containerSkills {
    display: flex;
    width: 100%;
    gap: 10%;
    flex-wrap: wrap;
}
.skill {
    background-color: rgb(249, 231, 132);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(100, 69, 54);
}
.titreProjet {
    font-size: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}
.containerTitre {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw 0 10vw;
}
.containerCarreProjet {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.carreProjet {
    height: 30vh;
    width: calc(100vw/4);
    position: relative;
}
.imageProjet {
    position: absolute;
    height: 95%;
    width: 95%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    object-fit: cover;
    transition: all ease-out 0.3s;
}
.imageProjet:hover {
    transform: translate(-50%, -50%) scale(0.9);

}
.petitCarreNumero {
    background-color: black;
    color: white;
    font-size:x-large;
    padding: 20px 30px;
    border-radius: 5px;
    position: absolute;
    bottom: -10%;
    right: -5%;
}
.titreCarre {
    position: absolute;
    bottom: -15%;
    left: 0;
}
.alignementVertical {
    height: 50vh;
}
.containerCarre1 {
    display: flex;
    align-items: flex-start;
}
.containerCarre2 {
    display: flex;
    align-items: center;
}
.containerCarre3 {
    display: flex;
    align-items: flex-end;   
}
.carreProjet {
    position: relative;
    --border-size: 10px;
    --border-angle: 0turn;
    width: calc(100vw/4);
    height: 30vh;
    background-image: conic-gradient(
        from var(--border-angle),
        #213,
        #112 50%,
        #213
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        rgb(249,231,132),
        rgb(249,231,132),
        rgb(249, 231, 132),
        rgb(249,231,132),
        rgb(249,231,132)
      );
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
.lienTous {
    display: flex;
    align-items: center;
    border: 2px dashed black;
    padding: 0 5vw 0 5vw;
    transition: ease-out 0.3s;
}

.lienTous:hover {
    border: 2px solid black;
    scale: 1.05;
    box-shadow: 10px 13px 18px -1px rgba(0,0,0,0.39);

}
footer {
    margin-top: 50px;
    background-color:rgb(249, 231, 132);
    padding: 20px;
}
.containerFooter {
    display: flex;
    justify-content: space-around;
}
.containerFooterGauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerFooterDroit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyright {
    display: flex;
    justify-content: center;
}
hr {
    border-color: black;
    margin: 20px 0 20px 0;
}
.footerNav::after {
    content: " ";
    display: inline-block;
    background-color: #7f5539;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    right: -30px;
    opacity: 0;
    transition: ease-out 0.3s;
}
.footerNav::before {
    content: " ";
    display: inline-block;
    background-color: #7f5539;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    left: -30px;
    opacity: 0;
    transition: ease-out 0.3s;
}
.footerNav:hover::after {
    opacity: 1;
    right: -5px;
}
.footerNav:hover::before {
    opacity: 1;
    left: -5px;
}
.footerNav:hover {
    color: #7f5539;
}
.headerAbout {
    display: flex;
    justify-content: space-around;
}
.imageAbout {
    display: flex;
    justify-content: center;
    width: 45%;
}
.imageAboutFit {
    object-fit: contain;
}
.textAbout {
    width: 30%;
}
.textAboutTitre {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}
.noteOui {
    display: inline-block;
    background-color: gray;
    height: 10px;
    width: calc(100%/5);
    border: black solid 1px;
}
.noteNon {
    display: inline-block;
    background-color: darkgray;
    height: 10px;
    width: calc(100%/5);
}
.dFlexSpaceB {
    display: flex;
    justify-content: space-between;
}
.table, th, td {
    padding: 10px;
    border: 2px solid black;
    background-color: tan;
}
table {
    width: 60%;
}
.containerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table:hover, th:hover, td:hover {  
    background-color: #7f5539;
}
/*Projets*/
.containerProjet {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    background-color: rgb(249, 231, 132);
    margin-bottom: 5%;
    padding: 2%;
    color: white;
    
}
.titreCategorie {
    font-family: Amatic SC,cursive;
    font-size: 80px;
}
.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #7f5539;
    border: 10px double #f9e784;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.displayProjet {
    display: flex;
    gap: 5%;
}
.containerPageProjets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.containerPageProjetsMobile {
    display: none;
}
.imgProjet {
    width: 50%;
}
.titreProjets {
    font-size: 150%;
}
.description {
    display: flex;
    align-items: center;
    width: 50%;
}
.image {
    width: 30%;
    border-radius: 0px 100px / 120px;
    border: 10px solid #f9e784;
}
.containerContact {
    display: flex;
    justify-content: space-around;
}
.containerContact {
    display: flex;
    align-items: center;
}
.pageContact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleContact {
    font-size: 20px;
}
.svgTel {
    background-image: url("/public/image/Vectortel.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.svgMail {
    background-image: url("/public/image/ic_twotone-mail-outlinemail.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.svgDiscord {
    background-image: url("/public/image/skill-icons_discorddiscord.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.svgLink {
    background-image: url("/public/image/logos_linkedin-iconlinkedin.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.svgInsta {
    background-image: url("/public/image/skill-icons_instagraminsta.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
} 
.svg {
    margin: 20px;
}
.dF {
    display: flex;
    align-items: center;
}
  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    z-index: 1000;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1000;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    visibility: hidden;
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #f9e784;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    z-index: 999;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #7f5539;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    z-index: 1000;
    padding: 12px 24px;
  
    color: white;
  
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #f9e784;
  }
@media (max-width: 768px) {
    .barNav {
        visibility: hidden;
        width: 10px;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    visibility: visible;
  }
  .containerHeaderHomepage {
    flex-direction: column;
    align-items: center;
  }
  .containerGaucheHeaderHP {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerHP {
    text-align: center;
  }
  .containerCarreProjet {
    flex-direction: column;
  }
  .carreProjet {
    width: 80%;
  }
  .containerCarre1 {
    justify-content: center;
    align-items: center;
  }
  .containerCarre2 {
    justify-content: center;
    align-items: center;
  }
  .containerCarre3 {
    justify-content: center;
    align-items: center;
  }
  .lienTous {
    height: 100%;
    justify-content: center;
    width: 70%;
    text-align: center;
  }
  .titreProjet {
    width: 90%;
    font-size: 20px;
    transform: translate(0%, 50%);
  }
  .containerTitre {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
  .headerAbout {
    flex-direction: column;
    align-items: center;
  }
  .imageAbout {
    width: 80%;
  }
  .textAbout {
    width: 80%;
  }
  .imageHeader {
    width: 60vw;
    height: 60vw;
    border: rgb(249, 231, 132) solid 8vw;
  }
  table {
    width: 80% !important;
  }
  .headerHP {
    font-size: 10vw;
  } 
  .displayProjet {
    flex-direction: column;
  }
  .description {
    width: 100%;
  }
  .containerContact {
    flex-direction: column;
  }
  .texteContact {
     width: 80%;
  }
  .image {
    width: 70%;
  }
  th {
    display: none;
  }
  
  /* Display each row as a block */
  tr {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  /* Display the row content as a table cell */
  td {
    display: block;
    text-align: left;
    border: none;
  }
  
  /* Add a heading to each row */
  td::before {
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 5px;
  }
  .containerPageProjets {
    display: none;
  }
  .containerPageProjetsMobile {
    display: flex;
    flex-direction: column;
  }
  .v-window {
    height: 100% !important;
  }
  .projet {
    padding: 10px;
  }
}
